
.d1 {background: lightblue;}
.d2 { background: pink;}
.d3 { background: yellow;}
.d4 { background: lightsalmon;}
.d5 { background: rgb(46, 201, 105);}
.d6 { background: rgb(217, 137, 236); }

body {
    background: #E6EBF1;
    font-family: Open Sans,sans-serif;
}

.ts-header {
    padding-top: 20px; 
    position: relative;
    background: #fff;
    .ts-logo {
        text-align: center;
        @media (min-width: 992px) { 
            text-align: left;
        }
    } 
    .nav-icon {
        background: url("../images/menu-icon.svg") no-repeat center center;
        width: 33px;
        height: 33px;
        position: absolute;
        left: 15px;
        top: 2px;
        &:hover {
            cursor: pointer;
        }
        @media (min-width: 992px) { 
            display: none;
        }
    }
    .search-link {
        background: url("../images/src-icon.svg") no-repeat center center;
        display: block;
        background-size: 24px;
        width: 33px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 2px;
        @media (min-width: 992px) { 
            display: block;
            position: relative;
            margin-right: 28px;
            top: 1px;
            &:after {
                content: "";
                width: 2px;
                height: 22px;
                background: #D3D3D3;
                position: absolute;
                right: -14px;
                top: 6px;
            }
        }
    }
}

.ts-header-actions {
    height: 37px;
    float: right;
    width: 38px;
    position: absolute;
    right: 15px;
    top: 0;
    @media (min-width: 992px) {
        width: auto;
        height: auto;
        display: flex!important;
        justify-content: flex-end!important;
    }
    .notifications-link, 
    .account-links-block {
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
    .notifications-link {
        background: url("../images/bell-icon.svg") no-repeat center center;
        background-size: 22px;
        width: 33px;
        height: 33px;
        position: relative;
        margin-right: 21px;
        &:after {
            content: "";
            width: 2px;
            height: 22px;
            background: #D3D3D3;
            position: absolute;
            right: -14px;
            top: 6px;
        }
    }
    .account-links-block {
        position: relative;
        .account-name {
            padding: 5px;
            padding: 0 72px 7px 9px;
            margin-top: -12px;
            color: #1C99E4;
            font-size: 15px;
            .btn.active, .btn:active {
                background-image: none;
                outline: 0;
                -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0) !important;
                box-shadow: inset 0 3px 5px rgba(0,0,0,0) !important;
            }
        }
        .account-icon {
            background: #1C99E4 url(../images/user-icon.svg) no-repeat center 6px;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            position: absolute;
            right: 18px;
            top: -5px;
            background-size: 28px;
            &:after {
                content: "";
                width: 16px;
                height: 22px;
                background:  url(../images/chevron-down-icon.svg) no-repeat center 6px;
                background-size: 16px;
                position: absolute;
                right: -19px;
                top: 13px;
            }
        }
        .btn-default {
            color: #333;
            background-color: transparent;
            border-color: transparent;
            padding: 0;
        }
        .dropdown-menu {
            text-align: center;
        }
    }
}



.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0) !important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0) !important;
}

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0) !important;
}

.nav-bar {
    background: #289AE1;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 11px 5px;
    margin-top: 20px;
    @media (min-width: 992px) {
        padding: 0 5px;
    }
}

.company-selector { 
    color: #fff;
    display: flex;

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0) !important;
    }
    label {
        padding: 6px 12px 6px 0;
        display: none;
        @media (min-width: 992px) {
            display: block;
            font-weight: normal;
            font-size: 15px;
        }
    }
    select {
        background: transparent;
        border: none;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        color: #fff;
        /* -webkit-appearance:none; testing */
        -webkit-appearance:caret;
        text-align: center;
    }
    @media (min-width: 992px) {
        text-align: right;
        padding: 9px 0 0 0;
        justify-content: flex-end!important;
        .form-control {
            width: auto !important;
        }
    }
}

.shadow-box {
    background: #fff;
    border-radius: 7px;
}
.p-4 {
    padding: 15px;
}
.mt-5 {
    margin-top: 25px;
}


/*---------------------------- SIDE NAV -----------------------------------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 20px;
    text-align: left;
    @media (min-width: 992px) {
        transition: none !important;
        background-color: transparent;
        position: relative;
        padding-top: 0;
        width: 100% !important;
        margin: 0 auto;
    }
    @media (min-width: 1200px) {
        width: 100% !important; 
        margin: 0;;
    }
    
    ul {
        padding: 0;
        list-style: none;
        @media (min-width: 992px) {
            margin-bottom: 0;
        }
        li {
            padding: 0px 26px;
            border-left: solid 7px #fff;
            @media (min-width: 992px) {
                margin: 0;
                border: none;
                /*display: inline;*/
                float: left;
                padding: 0px 10px;
                margin-right: 5px;
            }
            a {
                padding: 12px 0;
                text-decoration: none;
                font-size: 25px;
                color: #1C99E4;
                display: block;
                transition: 0.1s;
                font-size: 16px;
                border-top: solid 1px #E8E8E8;
                @media (min-width: 992px) {
                    color: #fff;
                    padding: 14px 12px 12px 12px;   
                    border: none;
                    float: left;
                    border-bottom: solid 4px transparent !important;
                    &:hover {
                        border-bottom: solid 4px #6BBBF5 !important;
                    }
                }
            }
            &.active {
                border-left: solid 7px #1C99E4;
                @media (min-width: 992px) {
                    border-left: none;
                    a {
                        border-bottom: solid 4px #fff !important;
                    }
                }
            }
        }   
    }
    .admin-account {
        a {
            background: url(../images/settings-icon.svg) no-repeat 0 42px;
            padding-left: 35px !important;
            padding-top: 42px !important;
            border-top: none;
        }
    }
    .notifications-link {
        a {
            background: url(../images/bell-icon.svg) no-repeat 0 10px;
            padding-left: 35px !important;
            border-top: none;
            background-size: 22px;
        }
    }
    .logout {
        a {
            background: url(../images/log-out.svg) no-repeat 0 14px;
            padding-left: 35px !important;
            border-top: none !important;
        }
    }
    @media (min-width: 992px) {
        .admin-account, 
        .logout, 
        .notifications-link  {
            display: none;
        }
    }
 }

#mySidenav h3 {
    color: #676767;
    padding-left: 33px;
    margin-top: 7px;
    margin-bottom: 30px;
    @media (min-width: 992px) {
        display: none;
    }
}

.sidenav .closebtn {
    position: absolute;
    top: 11px;
    right: 28px;
    font-size: 36px;
    margin-left: 50px;
    &:hover{
        text-decoration: none;
    }
    @media (min-width: 992px) {
        display: none;
    }
}

#main {
    transition: margin-left .1s;
    width: 100%;
    @media (min-width: 992px) {
        transition: none;
    }
}

@media screen and (max-height: 450px) {
    /* .sidenav {padding-top: 15px;} */
    .sidenav a {font-size: 18px;}
}


/* ---------------------------------------- END ------------------------------------------- */


/* ------------------------------------------------------------*/


* {
box-sizing: border-box;
}

.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
background: #bbb;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
}

.overlay-content {
    z-index: 9;
    position: relative;
    top: 38px;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    z-index: 9;
    top: 30px;
    right: 20px;
    font-size: 60px;
    cursor: pointer;
    color: #fff;
    @media (min-width: 900px) {
        display: block;
    }
    
}

.search-link:hover {
    cursor: pointer;
}

.overlay-content input:focus, 
.overlay-content button:focus {
    outline: none;
}


.overlay .closebtn:hover {
color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: right;
    width: 49px;
    @media (min-width: 900px) {
        width: 58px;
    }
    padding: 15px;
    font-size: 17px;
    border: none;           
}

.overlay button:hover {
    background: #bbb;
}


/*--------------- NOTIFICATIONS ---------------------*/

.notification-menu.dropdown-menu{
    min-width: 160px;
    max-width: 302px;
    padding: 0;
    border: none;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  
    position: absolute;
    top: 50px;
    left: -254px;
  
    .notification-text{
      color: #333;
      text-decoration: none;
      margin: 0 0 10px 0;
      display: block;;
    }
  
    h3{
        margin: 0;
        padding: 10px;
        background: #308ac0;
        font-size: 15px;
        text-align: center;
        color: #fff;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .notification-item{
        padding: 15px 15px 15px 40px;
        font-size: 13px;
        background: #eef3f6 url(../images/green-check.svg) no-repeat 15px 17px;
        background-size: 18px;
        border-bottom: solid 3px #dbe6ee;
        .actions{
          span{
            color: #746b6c;
          }
        }
      }
      .notifications-external{
        border-top: solid 1px #e4ebf1;
        a{
          background: #289AE1;
          color: #fff;
          margin: 13px;
          text-align: center;
          border-radius: 3px;
          padding: 10px 20px;
          cursor: pointer;
          &:hover{
            background: #40abe4;
            cursor: pointer;
          }
        }
      }
      &:before {
          position: absolute;
          top: -7px;
          right: 22px;
          display: inline-block!important;
          content: '';
          width: 19px;
          height: 19px;
          background:url(../images/blue-top-arrow.svg) no-repeat 0 0;
      }
      .scrollable-container{
        max-height: 250px;
        overflow-y: auto;
        width: auto;
      }
      #empty-notifications{
        background: #eef3f6 url(../images/empty_notification.svg) no-repeat 15px 32px;
        padding: 30px 19px 30px 36px;
        font-size: 13px;
      }
  }

  .badge {
    position: absolute;
    right: -6px;
    top: -3px;
}

#mySidenav {
    .notifications-link {
        a {
            position: relative;
        }
        .badge {
            position: absolute;
            right: auto !important;
            top: 0;
            left: 11px;
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}


#myOverlay {
    display: none;
    transition-timing-function: ease-in;
    transition: 0.1s;

  .overlay-content {
    display: none;
    top:38px;
    transition-delay: 0s;
  }
}

#myOverlay.overlay.set-visible{
    display: block;
    transition-timing-function: ease-out;
    transition: 0.1s;

  .overlay-content {
    display: block;
    top: 38px;
    transition-delay: 0s;
  }
}



#myOverlay[style] {
    z-index: 10 !important;
}

div.overlay.set-visible[style] {
    display: block !important;
    opacity: 1 !important;
}


.overlay  {
    display: block;
    z-index: 30;
}


.overlay-content form {
    border: solid 10px #fff;
    overflow: hidden;
    border-radius: 11px;
    background: #fff;
}

.overlay input[type=text] {
    width: 80%;
    background: #fff !important;
}

.overlay-content button{
    background: #fff url(../images/src-icon.svg) no-repeat 11px 13px;
    height: 54px;
    width: 46px;
    &:hover {
        background: #fff url(../images/src-icon.svg) no-repeat 11px 13px;
    }
    @media (min-width: 992px) {
        background: #fff url(../images/src-icon.svg) no-repeat 16px center;
        &:hover {
            background: #fff url(../images/src-icon.svg) no-repeat 16px center;
        }
    }
}

.close-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}



/*----------------------- Dropdown Menu ----------------------------*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 55px;
    list-style: none;
    padding: 0;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.account-links-block .dropdown{
    background: pink;
    height: 55px;
}

